* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.mainContent {
  /* the main thing */
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
  gap: 2rem;
  background-color: #dcdcdcd3;
  padding: 4rem;
  border-radius: 4px;
}
html {
  display: flex;
  justify-content: center;
}
.result {
  /* greenish part */
  background-color: rgb(204, 243, 164);
  width: 100%;
  height: 3rem;
}
input {
  height: 2.5rem;
  border: none;
  background-color: snow;
  color: black;
  font-size: larger;
  padding-left: 0.5rem;
}
button {
  height: 2.5rem;
  background-color: #83828200;
  border: solid 1px rgb(185, 185, 185);
}
.result {
  text-align: center;
  font-size: larger;
  padding: 1rem;
}
h2 {
  font-size: 25px;
}
